<body>

  <header>
    <nav class="teal">
      <div class="nav-wrapper">
        <a href="/routes" class="brand-logo">picka.run</a>
        <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="200" data-closeonclick="true"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "About", root_path, :class => 'btn waves-effect waves-light' %></li>
          <% if !current_user %>
            <li><%= link_to "Let's Go!", '/auth/strava', method: 'get',  :class => "btn deep-orange waves-effect waves-light" %></li>
          <% else %>
            <li><%= link_to "Your Routes", '/routes', method: 'get', :class => "btn waves-effect waves-light" %></li>
            <li><%= link_to "Explore", '/explore', method: 'get', :class => "btn waves-effect waves-light" %></li>
            <li><a href="/users/<%= current_user.id %>" class="btn waves-effect waves-light">Profile</a></li>
            <li><%= link_to "Log Out", logout_path, method: 'get', :class => "btn waves-effect waves-light" %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="nav-mobile">
          <li><%= link_to "About", root_path, :class => 'btn' %></li>
          <% if !current_user %>
            <li><%= link_to "Let's Go!", '/auth/strava', method: 'get', :class => 'btn' %></li>
          <% else %>
            <li><%= link_to "Your Routes", '/routes', method: 'get', :class => "btn waves-effect waves-light" %></li>
            <li><%= link_to "Explore", '/explore', method: 'get', :class => "btn waves-effect waves-light" %></li>
            <li><a href="/users/<%= current_user.id %>" class="btn">Profile</a></li>
            <li><%= link_to "Log Out", logout_path, method: 'get', :class => 'btn' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div ng-view></div>
  </main>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
        <a href="http://www.melicarls.com" target="_blank">Created by Melissa Carlson</a>
        <a class="grey-text text-lighten-4 right" href="https://github.com/melicarls/picka.run" target="_blank">Check out picka.run on GitHub <i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>

</body>
